:root {
  --max-width: 1100px;
  --foreground-rgb: 0, 0, 0;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
  }
}

@font-face {
  font-family: "SohneKraftig";
  src: url("https://media.graphassets.com/1dZAAm1RTb6poQvN24z6");
  src: url("https://media.graphassets.com/1dZAAm1RTb6poQvN24z6?#iefix") format("embedded-opentype"),
    url("https://media.graphassets.com/OYB2sMfvSDs62sH8yJ0w") format("woff2"),
    url("https://media.graphassets.com/BjKtBNp4TQ2QAjbHOPy9") format("woff");
  font-weight: 500;
  font-style: normal;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

body {
  font-family: "SohneKraftig";
  font-weight: normal;
  font-size: 62.5%;
}

h1, h2, h3, b, strong {
  font-weight: normal;
}

a {
  color: inherit;
  text-decoration: none;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}

/* pages/index.tsx */

.event-wrapper {
  width: 100%;
  padding: 16px;
  display: flex;
  flex-direction: row;
}
.event-wrapper > div {
  flex: 1;
  padding: 16px;
}
.event-wrapper img {
  display: block;
  width: 100%;

  box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.1);
}
.event-wrapper h3 {
  padding-bottom: 8px;

  font-size: 1.8rem;
}
.event-wrapper p {
  padding-bottom: 8px;

  opacity: 0.8;

  font-size: .95rem;
  letter-spacing: 0.025em;
}
.event-wrapper a {
  border-bottom-style: solid;
  border-bottom-width: 2px;
}
.event-wrapper a:hover, .event-wrapper a:active {
  color: #FFF;
}
.event-wrapper strong {
  padding: 2px 4px;

  background-color: rgba(0, 0, 0, 0.2);
  opacity: 1;
}

