/* colors */

:root {
  --text: #333;
  --default-event-background: #444;
  --blue: rgb(66, 95, 166);
  --blue-90: rgba(66, 95, 166, 0.9);
  --red: rgb(242, 80, 91);
  --red-0: rgba(242, 80, 91, 0.00);
  --white: #FFF;
  --white-20: rgba(255, 255, 255, 0.2);
  --white-80: rgba(255, 255, 255, 0.8);
  --black: #000;
  --black-10: rgba(0, 0, 0, 0.1);
  --black-20: rgba(0, 0, 0, 0.2);
}

/* font */

@font-face {
  font-family: "SohneKraftig";
  src: url("https://media.graphassets.com/1dZAAm1RTb6poQvN24z6");
  src: url("https://media.graphassets.com/1dZAAm1RTb6poQvN24z6?#iefix") format("embedded-opentype"),
    url("https://media.graphassets.com/OYB2sMfvSDs62sH8yJ0w") format("woff2"),
    url("https://media.graphassets.com/BjKtBNp4TQ2QAjbHOPy9") format("woff");
  font-weight: 500;
  font-style: normal;
}

/* base style, resets */

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

body {
  padding-bottom: 32px;

  font-family: "SohneKraftig";
  font-weight: normal;
  font-size: 62.5%;
}

h1, h2, h3, h4, h5, b, strong {
  font-weight: normal;
}

a {
  color: inherit;
  text-decoration: none;
}

/* base class for full-size column */

.main-col {
  max-width: 1000px;
  padding-right: 16px;
  padding-left: 16px;
  margin: 0 auto;
}

/* header, nav */

.header {
  padding-top: 16px;
  padding-bottom: 8px;
}

.header {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
}
.header ul {
  flex: 1;
}
.header ul li {
  text-align: right;
}
@media screen and (min-width: 500px) {
  .header ul {
    display: flex;
    flex-direction: row;
  }
  .header ul {
    justify-content: flex-end;
  }
  .header ul li + li {
    padding-left: 16px;
  }
}
.header ul {
  list-style-type: none;
}
.header ul a {
  font-size: .95rem;
  letter-spacing: 0.025em;
}
.header ul a, .header ul a:visited {
  color: var(--text);
}
.header ul a:hover {
  color: var(--red);
}

.header h1 {
  align-items: center;
  display: flex;
  flex-direction: row;

  font-size: 1.2rem;
}
.header.home h1 {
  line-height: 1.1rem;
  font-size: 1.2rem;
}
.header.home h1 span span {
  display: block;
}
.header a:hover {
  margin-bottom: -2px;
  border-bottom-style: solid;
  border-bottom-width: 2px;
}

.logo {
  height: 0.68em;
  width: 0.9em;
  margin-right: 0.3em;
}
.header.home .logo {
  height: 1.5em;
  width: 1.995em;
}

/* text-styles */

.text-styles h3 {
  padding-bottom: 4px;

  font-size: 1.8rem;
  letter-spacing: -0.01em;
}
.text-styles h4 {
  padding-bottom: 6px;

  font-size: 1.2rem;
  letter-spacing: 0em;
}
.text-styles * + h4 {
  margin-top: 16px;
}
.text-styles ul {
  padding-bottom: 24px;

  list-style-type: none;
  opacity: 0.8;

  font-size: .95rem;
  letter-spacing: 0.025em;
}
.text-styles p {
  max-width: 520px;
  padding-bottom: 8px;

  font-size: .95rem;
  letter-spacing: 0.025em;
}
.text-styles a {
  border-bottom-style: solid;
  border-bottom-width: 2px;
}
.text-styles strong {
  padding: 2px 4px;

  background-color: var(--black-20);
  opacity: 1;
}
.text-styles blockquote {
  padding-left: 8px;
  border-left: 2px solid var(--black-20);
}
.text-styles blockquote p:last-of-type {
  padding-bottom: 0;
}

.text-styles h3,
.text-styles h4,
.text-styles p,
.text-styles ul,
.text-styles a,
.text-styles a:visited {
  color: var(--text);
}
.text-styles a:hover,
.text-styles a:active {
  color: var(--black);
}

.text-styles.inverted h3,
.text-styles.inverted h4,
.text-styles.inverted p,
.text-styles.inverted ul,
.text-styles.inverted a,
.text-styles.inverted a:visited,
.text-styles.inverted a:hover h3,
.text-styles.inverted a:active h3 {
  color: var(--white-80);
}
.text-styles.inverted a:hover,
.text-styles.inverted a:active,
.text-styles.inverted a h3,
.text-styles.inverted a:visited h3
 {
  color: var(--white);
}

/* hero element (home) */

.hero {
  background: linear-gradient(167deg, var(--red) 14.54%, var(--red-0) 100%), var(--blue);
}
.hero .text-styles  {
  margin-top: 16px;
  margin-bottom: 64px;
  padding: 16px 12px 64px 12px;
}
.hero .text-styles  p {
  max-width: 420px;

  opacity: 1;

  color: var(--white);
  font-size: 1.8rem;
  letter-spacing: -0.01em;
}
.hero .text-styles p.regular {
  font-size: .95rem;
  letter-spacing: 0.025em;
}

/* events-wrapper (list of events) */

.events-wrapper {
  padding-bottom: 16px;
}

/* EventContainer */

.event-row {
  background-color: var(--default-event-background);
}
.event-wrapper {
  padding-top: 16px;
  padding-bottom: 16px;
}
.info {
  padding-top: 16px;
}

@media screen and (min-width: 500px) {
  .event-wrapper {
    display: flex;
    flex-direction: row;
  }
  .flyer {
    flex: 1;
  }
  .info {
    flex: 2;
    padding-left: 16px;
    padding-top: 0;
  }
}

@media screen and (min-width: 800px) {
  .flyer, .info {
    flex: 1;
  }
}

.event-wrapper img {
  display: block;
  width: 100%;

  box-shadow: 0px 8px 16px var(--black-10);
}

/* Archiv */

/* short */
.events-list-wrapper {
  margin-top: 48px;
}
.events-list {
  margin-bottom: 16px;

  list-style-type: none;
  border-bottom: 2px solid #EEE;

  font-size: .95rem;
  letter-spacing: 0.025em;
}

.events-list li {
  padding: 8px 0;

  border-top: 2px solid #EEE;
}
.events-list li span {
  display: block;
  padding-bottom: 8px;
}
.events-list li span + span {
  padding-bottom: 0;

  color: var(--text);
}

@media screen and (min-width: 800px) {
  .events-list li {
    display: flex;
  }
  .events-list li span {
    padding-bottom: 0;
  }
  .events-list li span + span {
    padding-left: 16px;
  }
}

/* Text pages */

.text-page {
  padding-top: 32px;
}

/* Newsletter signup form */

.newsletter-signup-form {
  margin-top: 48px;
  margin-bottom: 48px;
}
.newsletter-signup-form h4 {
  color: var(--blue);
}
.newsletter-signup-form .inner {
  padding: 16px 0;
  background-color: var(--blue);
}

.text-styles.inverted p.loading,
.text-styles.inverted p.success {
  color: var(--white);
}
.text-styles.inverted p.error {
  color: var(--red);
}

.newsletter-signup-form form {
  max-width: 360px;
  margin-bottom: 8px;
}
.newsletter-signup-form form input {
  display: block;
  width: 100%;
  padding: 4px 8px;
  margin-bottom: 8px;

  outline: none;
  border: none;
}
.newsletter-signup-form form button {
  display: block;
  padding: 4px 8px;

  outline: none;
  border: none;

  background-color: var(--blue);
  color: var(--white);
  border: 2px solid var(--white);
}
.newsletter-signup-form form button:hover {
  background-color: var(--white-20);
  cursor: pointer;
}
.newsletter-signup-form form button:active {
  color: var(--blue);
  background-color: var(--white);
}

@media screen and (min-width: 520px) {
  .newsletter-signup-form form {
    display: flex;
    flex-direction: row;
  }
  .newsletter-signup-form form input {
    width: unset;
    flex: 1;
    margin-right: 8px;
    margin-bottom: 0;
  }
}
